/* https://github.com/swagger-api/swagger-ui/issues/5327#issuecomment-742375520 */
html[data-theme="dark"] {
  body {
    background: black;
  }

  .swagger-ui {
    filter: invert(88%) hue-rotate(180deg);
  }

  .swagger-ui .microlight {
      filter: invert(100%) hue-rotate(180deg);
  }
}

.method-get {
  background-color: #61affe;
}

.method-post {
  background-color: #49cc90;
}

.method-put {
  background-color: #fca130;
}

.method-patch {
  background-color: #50e3c2;
}

.method-delete {
  background-color: #f93e3e;
}

.method-head {
  background-color: #9012fe;
}

.method-options {
  background-color: #0d5aa7;
}

.method-trace {
  background-color: #000;
}